@use '../variables';

.btn {
  background-color: variables.$gray-5;
  border-radius: 12px;
  color: variables.$gray-3;
  cursor: pointer;
  display: block;
  font-size: variables.$font-size-16;
  font-weight: 500;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  width: 116px;
}
