@use 'variables';
@use 'mixins';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-poppins;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

img {
  height: auto;
  width: 100%;
}

button,
input {
  border-width: 0px;
  font-family: inherit;
  outline: none;
}

a {
  text-decoration: none;
}

section {
  padding-top: 7em;

  @include mixins.media-tablet(screen) using ($type) {
    padding-top: 8.5em;
  }
  @include mixins.media-desktop(screen) using ($type) {
    padding-top: 10em;
  }
}
