@use 'variables';
@use 'mixins';

.clients {
  color: variables.$gray-1;
  margin-bottom: 10rem;

  &__quote {
    font-size: variables.$font-size-24;
    margin-bottom: 2rem;

    @include mixins.media-desktop(screen) using ($type) {
      font-size: variables.$font-size-36;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    @include mixins.media-xl(screen) using ($type) {
      font-weight: 500;
      margin-bottom: 4rem;
      width: 90%;
    }
  }

  &__person {
    display: flex;
    font-style: normal;
    font-weight: 500;

    &-image {
      border-radius: 12px;
      margin-right: 3rem;
      width: 82px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &-name {
      font-size: variables.$font-size-24;
    }

    &-company {
      color: variables.$gray-3;
      font-size: variables.$font-size-18;
    }
  }
}
