@use 'variables';
@use 'mixins';

.page-header {
  background-color: white;
  color: variables.$gray-1;
  padding: {
    bottom: 1em;
    left: 0em;
    right: 0em;
    top: 1em;
  }
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include mixins.media-tablet(screen) using ($type) {
    padding: {
      bottom: 1.5em;
      top: 1.5em;
    }
  }

  @include mixins.media-desktop(screen) using ($type) {
    padding: {
      bottom: 2em;
      top: 2em;
    }
  }

  &__title {
    font-family: variables.$font-heebo;
    font-size: variables.$font-size-24;
    font-weight: 800;
    position: relative;
    z-index: 2;

    @include mixins.media-tablet(screen) using ($type) {
      flex-grow: 1;
      font-size: variables.$font-size-30;
    }

    @include mixins.media-desktop(screen) using ($type) {
      font-size: variables.$font-size-36;
    }
  }
}
