@use 'variables';
@use 'mixins';

.page-header {
  align-items: center;
  background-color: white;
  color: variables.$gray-1;
  display: flex;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include mixins.media-tablet(screen) using ($type) {
    justify-content: space-between;
    padding: 1.5em 2.125em;
  }

  @include mixins.media-desktop(screen) using ($type) {
    padding: 2em 3.25em;
  }

  &__title {
    font-family: variables.$font-heebo;
    font-size: variables.$font-size-24;
    font-weight: 800;
    position: relative;
    z-index: 2;

    @include mixins.media-tablet(screen) using ($type) {
      flex-grow: 1;
      font-size: variables.$font-size-30;
    }

    @include mixins.media-desktop(screen) using ($type) {
      font-size: variables.$font-size-36;
    }
  }
}
