@use 'variables';
@use 'mixins';

.page-header {
  align-items: center;
  color: variables.$gray-1;
  display: flex;
  margin: 1.3rem 0 4.8rem 0;
  position: relative;

  &__title {
    font-family: variables.$font-heebo;
    font-size: variables.$font-size-24;
    font-weight: 800;
    position: relative;
    z-index: 2;
  }

  @include mixins.media-tablet(screen) using ($type) {
    justify-content: space-between;
    margin: 2.7rem 0 7.2rem 0;

    &__title {
      flex-grow: 1;
      font-size: variables.$font-size-30;
    }
  }

  @include mixins.media-desktop(screen) using ($type) {
    margin: 4.2rem 0 9.6rem 0;

    &__title {
      font-size: variables.$font-size-36;
    }
  }
}
