// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-heebo: 'Heebo', sans-serif;

// colours
$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #e0e0e0;
$gray-6: #f2f2f2;
$gray-7: #a9a9a9;
$blue: #2d9cdb;
$green: #27ae60;
$red: #eb5757;
$footer-background: #100e1d;

// font-sizes
$font-size-10: 0.625em;
$font-size-12: 0.75em;
$font-size-14: 0.875em;
$font-size-16: 1em;
$font-size-18: 1.125em;
$font-size-24: 1.5em;
$font-size-30: 1.875em;
$font-size-36: 2.25em;
$font-size-48: 3em;

// sizes
$container-max-width: 1440px;
$breakpoint-phablet: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xl: 1366px;
